/*style sheet for homework UT BootCamp week 6*/
/*AJAX - API app Assignment 6 - Louise K Miller*/
*,
 *:before,
 *:after {
 	-webkit-box-sizing: border-box;
 	-moz-box-sizing: border-box;
 	box-sizing: border-box;
 }

label, input {
	display: block;
}

.actionButton {
	background-color: red;
	margin: 5px 8px;
	padding: 5px 20px;
}

.ivContainer {
	display: inline-block;
	width: 300px;
	height: 250px;
}

.imageVideoObject {
	border: 5px solid #ddd;

	height: 200px;
	width: 250px;
	/*margin: 10px 20px;*/
}




/*===================================================
Sticky Footer
===================================================
*/
* {
	margin: 0;
}

html, body {
	height: 100%;
	background-color: #314993;
}

.page-wrap {
	min-height: 100%;
	/* equal to footer height */
	margin-bottom: -20px;
}

.page-wrap:after {
	content: "";
	display: block;
}

.site-footer, .page-wrap:after {
	height: 20px;
	color: #fff;
}


.site-footer {

	line-height: 15px;
	font-size: 13px;
	text-align: center;
}